@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Raleway&display=swap"');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ppoppins", "sans-serif";
}

body {
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child {
    left: -23px;
    display: none;
}

.wrapper i:last-child {
    right: -23px;
}


/*  */

.wrapper2 {
    max-width: 1200px;
    position: relative;
}

.wrapper2 span {
    top: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper2 span:first-child {
    left: -23px;
    display: none;
}

.wrapper2 span:last-child {
    right: -23px;
}